<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SafeFoodInfo.mapper.AdministrativeMeasureMapper">
    <insert id="insertAdministrativeMeasure">
        INSERT INTO administrative_measure
        (am_prcscitypoint_bsshnm, am_dsps_insttcd_nm, am_dsps_enddt, am_vltcn, am_dsps_bgndt, am_laword_cd_nm,
        am_dsps_typecd_nm, am_dsps_dcsndt, am_dspscn, am_last_updt_dtm, am_induty_cd_nm, am_addr)
        select * from(
            select
            #{am_prcscitypoint_bsshnm} as no,
            #{am_dsps_insttcd_nm} as d1,
            #{am_dsps_enddt} as d2,
            #{am_vltcn} as d3,
            #{am_dsps_bgndt} as d4,
            #{am_laword_cd_nm} as d5,
            #{am_dsps_typecd_nm} as d6,
            #{am_dsps_dcsndt} as d7, 
            #{am_dspscn} as d8,
            #{am_last_updt_dtm} as d9,
            #{am_induty_cd_nm} as d10,
            #{am_addr} as d11
        ) as data
        where not exists(
            select * from administrative_measure where am_prcscitypoint_bsshnm = #{am_prcscitypoint_bsshnm}
            and am_dsps_insttcd_nm = #{am_dsps_insttcd_nm}
            and am_dsps_enddt = #{am_dsps_enddt}) 
    </insert>
    <select id = "selectAdministrativeMeasure_topList" resultType = "SafeFoodInfo.vo.AdministrativeMeasureVO">
        select am_prcscitypoint_bsshnm, am_dsps_bgndt, am_dspscn, am_induty_cd_nm
        from administrative_measure
        order by am_seq limit 5;
    </select>
</mapper>